body {
    font-family: Arial, sans-serif;
    background-color: #eee5e5;
    margin-left: 0;
    padding: 0;


}
a{
    text-decoration: none;
    color: black;
}


header {

    color: #12547a;

    text-align: center;
    padding: 10px;
}

.services {
    display: flex;
    justify-content: space-around;
    padding: 2rem 0;

}

.service-item {
    text-align: center;
    padding: 2rem;
    background-color: #fff;
    border-radius: 5px;
    margin: 5px;


}

.service-item .service-icon {
    width: 50px;
    margin-bottom: 1rem;
    width: 100px;
    height: 100px;
}

.service-item h2 {
    font-size: 1.5rem;
    margin-bottom: 1rem;

}

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
    background-color: rgba(27, 72, 255, 0.21);
    font-size: 16px;


}
